<plugin name='vaadin-core' version='2.1-SNAPSHOT' grailsVersion='2.4 &gt; *'>
  <author>Stephan Grundner</author>
  <authorEmail>stephan.grundner@gmail.com</authorEmail>
  <title>Vaadin Core Plugin</title>
  <description>Plugin for integrating Vaadin into Grails.
</description>
  <documentation>https://github.com/vaadin-for-grails/grails-vaadin-core-plugin</documentation>
  <type>VaadinCoreGrailsPlugin</type>
  <resources>
    <resource>com.vaadin.grails.VaadinTagLib</resource>
    <resource>com.vaadin.grails.ui.DefaultUI</resource>
  </resources>
</plugin>